
export(VARMA_est)
export(VARMA_MSE)
export(VARMA_select)
export(VARMA_SS)
export(VARMA_select_multi)
export(Kfilter)
# export(DKsmooth)
# export(DKsmoothMF)
# export(get_from_list)
importFrom(Rcpp,evalCpp)
importFrom(stats,na.exclude)
importFrom(stats,optim)
importFrom(stats,var)
useDynLib(VARMA)
